<div class="stats">
  <% [:following, :followers].each do |relationship| %>
    <div class="col-md-3">
      <span id="<%= relationship %>">
        <%= user.send(relationship).size %>
      </span>
      <%= link_to relationship,
        user_relationships_path(user, type: relationship), class: "inline" %>
    </div>
  <% end %>
</div>
