<% provide :title, t(".title") %>
<div class="col-md-8">
  <h3>Tracks that you're gonna like</h3>
  <hr>
  <h3>Who to follow</h3>
  <hr>
  <h3>Best tracks from people you follow</h3>
  <hr>
  <h3>Trending tracks</h3>
</div>
<div class="col-md-4">
  <%= render "layouts/sidebar" %>
</div>
